@CHARSET "UTF-8";
.main {	background: #DDDDDD;
		padding: 20px; 
		height: auto !important;
    	min-height: 100%;
    	height: 100%;
    	overflow: auto;}

h1 {color: #ffffff; margin: 20px auto}

.comment {
		background-color: pink;
		width:200px;
		height:1.1em;
		text-align:center;
		border:2px solid #CC0099;
		margin:3px;
		font-size:14px;
		overflow: hidden;}
